<ol id='menu-id-xaml-0' class='menu menu-level0 show '>
  <li id='menu-item-xaml-1' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/' class='menu-link  '>XAML Usage</a></span>  </li>
  <li id='menu-item-xaml-2' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/compiled-bindings/' class='menu-link  '>Compiled Bindings</a></span>  </li>
  <li id='menu-item-xaml-3' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/csharp-expressions/' class='menu-link  '>C# Expressions</a></span>  </li>
  <li id='menu-item-xaml-4' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/event-bindings/' class='menu-link  '>Event Bindings</a></span>  </li>
  <li id='menu-item-xaml-5' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/inline-csharp/' class='menu-link  '>Inline C#</a></span>  </li>
  <li id='menu-item-xaml-6' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/conditional-xaml/' class='menu-link  '>Conditional XAML</a></span>  </li>
  <li id='menu-item-xaml-7' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/resources-includes-and-uris/' class='menu-link  '>Resources, Includes, and URIs</a></span>  </li>
  <li id='menu-item-xaml-8' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/property-elements-templatebinding-and-attached-properties/' class='menu-link  '>Property Elements, TemplateBinding, and Attached Properties</a></span>  </li>
  <li id='menu-item-xaml-9' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/global-xmlns-and-project-configuration/' class='menu-link  '>Global XML Namespaces and Project Configuration</a></span>  </li>
  <li id='menu-item-xaml-10' class='menu-item '>
    <span class='menu-item-row'><a href='/XamlToCSharpGenerator/articles/xaml/styles-templates-and-themes/' class='menu-link  '>Styles, Templates, and Themes</a></span>  </li>
</ol>
