scripts/**
server/**/*.pdb
server/BuildHost-net472/**
server/cs/**
server/de/**
server/es/**
server/fr/**
server/it/**
server/ja/**
server/ko/**
server/pl/**
server/pt-BR/**
server/ru/**
server/tr/**
server/zh-Hans/**
server/zh-Hant/**
server/BuildHost-netcore/cs/**
server/BuildHost-netcore/de/**
server/BuildHost-netcore/es/**
server/BuildHost-netcore/fr/**
server/BuildHost-netcore/it/**
server/BuildHost-netcore/ja/**
server/BuildHost-netcore/ko/**
server/BuildHost-netcore/pl/**
server/BuildHost-netcore/pt-BR/**
server/BuildHost-netcore/ru/**
server/BuildHost-netcore/tr/**
server/BuildHost-netcore/zh-Hans/**
server/BuildHost-netcore/zh-Hant/**
